<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Hello! </h3>

<form action="addTask" target="_blank">
    <button>Добавить задачу</button>
</form>
<br>

<a th:href="@{/findAll}">Все задачи</a>
<br>
<div class="d1">
    <form action="/searchByParameters" method="get" target="allTasks">
        <input name="s" placeholder="Искать здесь..." type="search">
        <button type="submit">Поиск</button>
    </form>
</div>
</body>
</html>